body{
    background-image: url('https://www.climbing.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1240/MTM3NjAyMTE5NTQ4MDE5OTU0/burr102411-024jpg.webp');
    background-size:cover;
}

input {

    background-color: white;
}