{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to the CimbingAPI {% endblock %}</h1>
    <form  method="POST">
        <div class="form-group">
            <select name=area class="form-select" id="place">
                <option selected>Select an area in Spain</option>
                <option value="albarracin">Albarracin</option>
                <option value="barranco_fin_mundo">Barranco fin del Mundo</option>
                <option value="candelario">Candelario</option>
                <option value="chulilla">Chulilla</option>
                <option value="cuenca">Cuenca</option>
                <option value="el_burguillo">El Burguillo</option>
                <option value="el_chorro">El Chorro</option>
                <option value="el_escorial">El Escorial</option>
                <option value="el_vellon">El Vellon</option>
                <option value="entrepeñas">Entrepeñas</option>
                <option value="gandia">Gandía</option>
                <option value="hoyamoros">Hoyamoros</option>
                <option value="la_cabrera">La Cabrera</option>
                <option value="la_hermida">La Hermida</option>
                <option value="la_pedriza_boulder">La Pedriza(boulder)</option>
                <option value="la_pedriza_rope">La Pedriza(rope)</option>
                <option value="los_barruecos">Los Barruecos</option>
                <option value="mallorca">Mallorca</option>
                <option value="margalef">Margalef</option>
                <option value="navalosa">Navalosa</option>
                <option value="olba">Olba</option>
                <option value="patones">Patones</option>
                <option value="peñas_blancas">Peñas Blancas</option>
                <option value="quiros">Quirós</option>
                <option value="reguchillo">Reguchillo</option>
                <option value="riglos">Riglos</option>
                <option value="rodellar">Rodellar</option>
                <option value="rozas">Rozas</option>
                <option value="san_martín_valdeiglesias">San Martín de Valdeiglesias</option>
                <option value="santa_gadea">Santa Gadea</option>
                <option value="santa_linya">Santa Linya</option>
                <option value="tamajon">Tamajón</option>
                <option value="teverga">Teverga</option>
                <option value="torrelodones">Torrelodones</option>
                <option value="valdegobia">Valdegobia</option>
                <option value="valdesangil">Valdesangil</option>
                <option value="valeria">Valeria</option>
                <option value="villanueva_del_rosario">Villanueva del Rosario</option>
                <option value="zarzalejo">Zarzalejo</option>
            </select>
        </div>
        
        <div class="form-group">
            <select name="nivel" class="form-select" id="grade">
                <option selected>Select a grade</option>
                <option value="3A">3A</option>
                <option value="3B">3B</option>
                <option value="3C">3C</option>
                <option value="4A">4A</option>
                <option value="4B">4B</option>
                <option value="4C">4C</option>
                <option value="5A">5A</option>
                <option value="5B">5B</option>
                <option value="5C">5C</option>
                <option value="6A">6A</option>
                <option value="6A+">6A+</option>
                <option value="6B">6B</option>
                <option value="6B+">6B+</option>
                <option value="6C">6C</option>
                <option value="6C+">6C+</option>
                <option value="7A">7A</option>
                <option value="7A+">7A+</option>
                <option value="7B">7B</option>
                <option value="7B+">7B+</option>
                <option value="7C">7C</option>
                <option value="7C+">7C+</option>
                <option value="8A">8A</option>
                <option value="8A+">8A+</option>
                <option value="8B">8B</option>
                <option value="8B+">8B+</option>
                <option value="8C">8C</option>
                <option value="8C+">8C+</option>
                <option value="9A">9A</option>
                <option value="9A+">9A+</option>

            </select>
        </div>

        <div class="form-group">
            <label class="sr-only" for="popular">Popular or not</label>
            <select name="popu" class="form-select" id="popular">
                <option selected>Select the popularity</option>
                <option value="popular">More popular routes</option>
                <option value="all">All the routes</option>
            </select>
        </div>

        <form method="post">

            <input type="submit" value="Submit">
        </form>
   

    <!-- {% macro dropdown(name, data, selected = [], extra = '') -%}
    <select name="{{ name }}" {{ extra|safe }}>
    {%- for ind, val in data %}
    <option value="{{ ind }}" {% if ind in selected %}selected="selected"{% endif %}>{{ val }}</option>
    {%- endfor %}
    </select>
    {%- endmacro %} 
    <div class="widget-content">
        
           <form action="{{ request.base_url }}" method="post" accept-charset="utf-8">
              {{ dropdown('usuario', usuarios, extra='id="usuarios_select"') }}
              <button type="submit" class="btn btn-secondary">Buscar</button>
           </form>
    </div> -->
   
   
    <!-- <form method="POST">
        <input name="text">
        <input type="submit">
    </form>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <input class="btn btn-secondary btn-sm" type="submit" value="Submit"> -->
      {% endblock %}
